body {
    background-color:olive;
    color:black ;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

button {
    padding: 5px 20px;
    background-color:gray;
    border-style: none;
}
